.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .userName {
    font-family: Roboto;
    font-size: 20px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
  }
  .content-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    font-size: 30px;
    font-family: Roboto;
    color: white;
    text-align: center;
  }
  .userImage {
    height: 80px;
    width: 80px;
  }
  .description {
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
  }
  .arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .arrowIcon {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .heading {
    font-size: 50px;
    font-family: Roboto;
    color: white;
    text-align: center;
  }
  .userImage {
    height: 160px;
    width: 160px;
  }
  .arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .userName {
    font-family: Roboto;
    font-size: 27px;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
  }
  .arrowIcon {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  .content-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description {
    font-family: Roboto;
    font-size: 27px;
    text-align: center;
  }
}
